{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
            Vous recevrez un email sous peu pour le changement de mot de passe si un compte avec cet email existe.
		  </p>
		  <p class="m-auto p-2">
            Si vous ne recevez pas d'email, assurez-vous d'avoir bien utilisé le bon adresse email (et refaites une demande),
            et vérifiez vos spam. 
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'login' %}">Retourner à la page d'accueil</a></p>
	</div>
</div>

{% endblock %}