<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>Educollab</title>
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="dashboard.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>
            window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
        </script>
        <script src="../../../../assets/js/vendor/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
</head>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'home' %}">{{ user.username }}/{{ user.statut }}</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
        </li>
    </ul>
</nav>
    
{% if user.statut == 'PROFESSOR' %}

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'infos' %}">
                            <span data-feather="user"></span> Informations <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span> Messages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="book-open"></span> Agenda
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="list"></span> Trombinoscope
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="award"></span> Appréciations
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'discussion' %}">
                            <span data-feather="layers"></span> Discussions
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Travaux</span>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'correction_prof' %}">
                            <span data-feather="check-circle"></span> Corrections
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'modification' %}">
                            <span data-feather="minus-circle"></span> Modifications
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_exo' %}">
                            <span data-feather="plus-circle"></span> Créer un exercice
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_ctrl' %}">
                            <span data-feather="plus-circle"></span> Créer une évaluation
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
        <script>
                feather.replace()
              </script>
        {% elif user.statut == 'STUDENT' %}
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'infos' %}">
                                    <span data-feather="user"></span> Informations <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file"></span> Messages
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="book-open"></span> Agenda
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="activity"></span> Bulletin
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="award"></span> Résultats
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'discussion' %}">
                                    <span data-feather="layers"></span> Discussions
                                </a>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Pratique</span>

                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'exercer' %}">
                                    <span data-feather="pen-tool"></span> S'exercer
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'corriger' %}">
                                    <span data-feather="check"></span> Corriger
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'evaluation' %}">
                                    <span data-feather="file-text"></span> S'evaluer
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <script>
                        feather.replace()
                </script>
            {% endif %} 
        {% block content %} 
    {% endblock content %}
{% include 'snippets/footer_log.html' %}