<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">
            <span data-feather="user"></span>
            Informations <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file"></span>
            Messages
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="book-open"></span>
            Agenda
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="activity"></span>
            Bulletin
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="award"></span>
            Résultats
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="layers"></span>
            Discussions
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Pratique</span>
        
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="exercer.html">
            <span data-feather="pen-tool"></span>
            S'exercer
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="correction.html">
            <span data-feather="check"></span>
            Corriger
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="evaluation.html">
            <span data-feather="file-text"></span>
            S'evaluer
          </a>
        </li>
       
      </ul>
    </div>
  </nav>
